<div class="navbar">
    <ul class="main-menu">
        <li><a [routerLink]="['/pages/agile/tdd/Statistics']" routerLinkActive="active"><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
      <li><a [routerLink]="['/pages/agile/tdd/Tdd']" routerLinkActive="active"> <i class="fas fa-tasks"></i>TDD</a></li>
      <li><a [routerLink]="['/pages/agile/tdd/Calender']" routerLinkActive="active"><i class="fas fa-calendar-alt"></i> Calendar</a></li>
      <li><a [routerLink]="['/pages/agile/tdd/dynamic']" routerLinkActive="active"> <i class="fas fa-file-alt"></i>Documentation</a></li>
    </ul>
    <ul class="sub-menu">
      <li><a [routerLink]="['/pages/agile/tdd/Test']" routerLinkActive="active">1-Add Test</a></li>
      <li><a [routerLink]="['/pages/agile/tdd/add']"  routerLinkActive="active">2-Add Task</a></li>
      <li><a [routerLink]="['/pages/agile/tdd/listTasks']" routerLinkActive="active">3-Task List</a></li>

    </ul>
  </div>
  
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  