
/*.kanban-board {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .tasks-column {
    width: 25%;
    background-color: #f4f5f7;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }
  
  .kanban-columns {
    display: flex;
    width: 75%;
    justify-content: space-between;
  }
  
  .kanban-column {
    width: 30%;
    background-color: #f4f5f7;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    overflow-y: auto; 
  }
  
  .kanban-item {
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: grab;
  }*/
   

  /* kanban-board.component.scss */
.kanban-board {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .tasks-column {
    width: 25%;
    background-color: #f4f5f7;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }
  
  .kanban-columns {
    display: flex;
    width: 75%;
    justify-content: space-between;
  }
  
  .kanban-column {
    width: 30%;
    background-color: #f4f5f7;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }
  
  .kanban-item {
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: grab;
  }
  