<div class="tdd-tutorial">
  <div class="top-navigation">
    <button class="btn btn-navigate" [routerLink]="['/pages/agile/tdd/dynamic']">
      <i class="fas fa-arrow-right"></i> Add other item
    </button>
  </div>
  <section class="section introduction" @fadeIn *ngFor="let item of section">
    <div class="content">
      <h2>{{ item.title }}</h2>
      <ng-container *ngIf="shouldDisplayInPre(item.title); else paragraph">
        <pre>{{ item.description }}</pre>
      </ng-container>
      <ng-template #paragraph>
        <p>{{ item.description }}</p>
      </ng-template>
    </div>
    <div class="image-container">
      <img [src]="item.processedImg" alt="Test-Driven Development (TDD) Process" />
    </div>
  </section>
  

  <section class="section steps" >
    <div class="content">
      <nb-card class="col-md-12 col-lg-12 col-xxxl-12">
        <nb-card-body>
          <nb-stepper orientation="horizontal">
            <nb-step *ngFor="let step of steps; let i = index" [label]="step.label">
              <ng-template #label>{{ step.label }}</ng-template>
              <h3>{{ step.title }}</h3>
              <p>{{ step.description }}</p>
              <button nbButton [disabled]="i === 0" nbStepperPrevious>prev</button>
              <button nbButton [disabled]="i === steps.length - 1" nbStepperNext>next</button>
            </nb-step>
          </nb-stepper>
        </nb-card-body>
      </nb-card>
    </div>
  </section>
  <section class="section tdd-process-image">
    <div class="content">
      <h2>Test-Driven Development (TDD) Process</h2>
      <div class="image-container">
        <img src="/assets/images/gg.png" alt="Test-Driven Development (TDD) Process" />
      </div>
    </div>
  </section>

  <section class="section accordion-section" >
    <div class="content">
      <div class="accordion-container col-md-12 col-lg-6 col-xxxl-6">
        <nb-accordion multi>
          <!-- TDD Best Practices -->
          <nb-accordion-item *ngFor="let item of accordionItems">
            <nb-accordion-item-header>
              {{ item.title }}
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <ul *ngFor="let content of item.content">
                <li>{{ content }}</li>

              </ul>
            </nb-accordion-item-body>
          </nb-accordion-item>
 
     
        </nb-accordion>
      </div>
    </div>
  </section>

  <section class="section advantages" >
    <div class="content">
      <h2>Advantages and Limitations</h2>
      <div class="tables-container">
        <table class="styled-table">
          <thead>
            <tr>
              <th>Advantages</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of avantage">
              <td>{{ item.description }}</td>
            </tr>
          </tbody>
        </table>
        <table class="styled-table">
          <thead>
            <tr>
              <th>Limitations</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of limitation">
              <td>{{ item.description }}</td>
            


            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  
  

</div>
<router-outlet></router-outlet>
