.tdd-tutorial {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
}
.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 30px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s, opacity 0.5s;
}
.image-container {
  flex: 0 0 200px;
  margin-left: 20px;
}
.image-container img {
  max-width: 100%;
  border-radius: 8px;
}
.content {
  flex: 1;
}
h2 {
  font-size: 2em;
  margin-bottom: 15px;
  text-align: center;
  color: #333;
}
ul,
ol {
  list-style: inside disc;
  padding-left: 20px;
}
li {
  margin: 10px 0;
  font-size: 1.2em;
  color: #555;
}
.section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tables-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.styled-table {
  flex: 1 1 45%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
}

.styled-table th, .styled-table td {
  padding: 12px 15px;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

@media (max-width: 768px) {
  .tables-container {
    flex-direction: column;
    align-items: center;
  }

  .styled-table {
    min-width: 100%;
  }
}
