<div class="container">
    <h3 class="h3 mb-3 fw-normal">Update Test</h3>
    <form [formGroup]="testForm" (ngSubmit)="updateTest()">
      <div id="form">
  
        <div class="row">
          <div class="col-6">
            <div class="form-floating mb-3">
              <input matInput formControlName="title" type="text" placeholder="" class="form-control">
              <label for="title">Title</label>
              <mat-error *ngIf="testForm.get('title')?.hasError('required')">
                This input is required!
              </mat-error>
            </div>
          </div>
          <div class="col-6">
            <div class="form-floating mb-3">
              <textarea matInput formControlName="description" placeholder="" class="form-control"></textarea>
              <label for="description">Description</label>
              <mat-error *ngIf="testForm.get('description')?.hasError('required')">
                This input is required!
              </mat-error>
            </div>
          </div>
        </div>
  
        <button class="btn btn-lg btn-primary" type="submit">Update Test</button>
      </div>
    </form>
  </div>
  