<div class="container">
  <h3 class="h3 mb-3 fw-normal">Update Task</h3>
  <form [formGroup]="taskForm" (ngSubmit)="updateTask()">
    <div id="form">
      <div class="row">
        <div class="col-6">
          <div class="form-floating mb-3">
            <input matInput formControlName="name" type="text" placeholder="" class="form-control">
            <label for="title">Name</label>
            <mat-error *ngIf="taskForm.get('name')?.hasError('required')">
              This input is required!
            </mat-error>
          </div>
        </div>
        <div class="col-6">
          <div class="form-floating mb-3">
            <input matInput formControlName="project" type="text" placeholder="" class="form-control">
            <label for="project">Project</label>
            <mat-error *ngIf="taskForm.get('project')?.hasError('required')">
              This input is required!
            </mat-error>
          </div>
        </div>
        <div class="col-6">
          <div class="form-floating mb-3">
            <input matInput formControlName="assigned" type="text" placeholder="" class="form-control">
            <label for="assigned">Assigned</label>
            <mat-error *ngIf="taskForm.get('assigned')?.hasError('required')">
              This input is required!
            </mat-error>
          </div>
        </div>
        <div class="col-6">
          <div class="form-floating mb-3">
            <textarea matInput formControlName="description" placeholder="" class="form-control"></textarea>
            <label for="description">Description</label>
            <mat-error *ngIf="taskForm.get('description')?.hasError('required')">
              This input is required!
            </mat-error>
          </div>
        </div>
        <div class="col-6">
  <div class="form-floating mb-3">
    <input matInput formControlName="dueDate" [value]="taskForm.get('dueDate')?.value | date:'yyyy-MM-dd'" type="date" placeholder="" class="form-control">
    <label for="dueDate">Due Date</label>
    <mat-error *ngIf="taskForm.get('dueDate')?.hasError('required')">
      This input is required!
    </mat-error>
  </div>
</div>
        <div class="col-6">
          <div class="form-floating mb-3">
            <nb-select formControlName="status">
              <nb-option value="done">Done</nb-option>
              <nb-option value="To do">To Do</nb-option>
              <nb-option value="in Progress">In Progress</nb-option>
            </nb-select>
            <label for="status">Status</label>
            <mat-error *ngIf="taskForm.get('status')?.hasError('required')">
              This input is required!
            </mat-error>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating mb-3">
            <textarea matInput formControlName="comments" placeholder="" class="form-control"></textarea>
            <label for="comments">Comments</label>
            <mat-error *ngIf="taskForm.get('comments')?.hasError('required')">
              This input is required!
            </mat-error>
          </div>
        </div>
      </div>

      <button class="btn btn-lg btn-primary" type="submit">Update Task</button>
    </div>
  </form>
</div>
