<button class="btn btn-update"  (click)="openAddSection()" ><i class="fas fa-edit"></i> Add Section</button>
<button class="btn btn-update"  (click)="openAddAccordion()" ><i class="fas fa-edit"></i> Add Accordion</button>
<button class="btn btn-update"  (click)="openAddStep()" ><i class="fas fa-edit"></i> Add Stepper Content</button>
<button class="btn btn-update"  (click)="openAddTask()" ><i class="fas fa-edit"></i> Add Task</button>
<button class="btn btn-update"  (click)="openListTask()" ><i class="fas fa-edit"></i> Task List</button>
<button class="btn btn-update"  (click)="openDetailTask()" ><i class="fas fa-edit"></i> Task Detail</button>
<button class="btn btn-update"  (click)="openkanban()" ><i class="fas fa-edit"></i> kanban</button>


<section class="section introduction" *ngFor="let item of section">
  <div class="content">
    <h2>{{ item.title }}</h2>
    <p class="description">{{ item.description }}</p>
    <div class="button-container">
      <button class="btn update-btn" (click)="openUpdate(item.id)"><i class="fas fa-edit"></i> </button>
      <button class="btn delete-btn" (click)="confirmDeleteSection(item.id)"><i class="fas fa-trash"></i></button>
    </div>
  </div>
  <div class="image-container">
    <img [src]="item.processedImg" alt="Image Description" />
  </div>
</section>

<section class="section accordion-section" @fadeIn>
  <div class="content">
    <div class="accordion-container col-md-12 col-lg-6 col-xxxl-6">
      <nb-accordion multi>
        <!-- TDD Best Practices -->
        <nb-accordion-item *ngFor="let item of accordionItems">
          <nb-accordion-item-header>
            {{ item.title }}
            <div class="button-group">
              <button class="btn update-btn"  (click)="openUpdateAccordion(item)" ><i class="fas fa-edit"></i> </button>
              <button class="btn delete-btn" (click)="confirmDeleteAccordion(item.id)"><i class="fas fa-trash"></i></button>
            </div>
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <ul>
              <li *ngFor="let content of item.content">{{ content }}</li>
            </ul>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </div>
  </div>
</section>

<section class="section steps" @fadeIn>
  <div class="content">
    <nb-card class="col-md-12 col-lg-12 col-xxxl-12">
      <nb-card-body>
        <nb-stepper orientation="horizontal">
          <nb-step *ngFor="let step of steps; let i = index" [label]="step.label">
            <ng-template #label>{{ step.label }}</ng-template>
            <h3>{{ step.title }}</h3>
            <p>{{ step.description }}</p>
            <button nbButton [disabled]="i === 0" nbStepperPrevious>prev</button>
            <button nbButton [disabled]="i === steps.length - 1" nbStepperNext>next</button>
            <button class="btn delete-btn"  (click)="confirmDeleteStep(step.id)"><i class="fas fa-trash"></i></button>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </div>
</section>


<div class="item-list">
  <div class="item-container">
    <h1>Advantage</h1>
    <div class="item" *ngFor="let item of avantage">
      <span class="item-name">{{ item.description }}</span>
      <div class="item-actions">
        <button class="btn btn-update" (click)="updateAvantage(item.id)"><i class="fas fa-edit"></i> </button>
        <button class="btn btn-delete" (click)="confirmDeleteAvantage(item.id)"><i class="fas fa-trash"></i> </button>
      </div>
    </div>
    <div class="item-add">
      <button class="btn btn-add" (click)="addAvantage()"><i class="fas fa-plus"></i> </button>
    </div>
  </div>
  <div class="item-container">
    <h1>Limitation</h1>
    <div class="item" *ngFor="let item of limitation">
      <span class="item-name">{{ item.description }}</span>
      <div class="item-actions">
        <button class="btn btn-update" (click)="updateLimitation(item.id)"><i class="fas fa-edit"></i> </button>
        <button class="btn btn-delete" (click)="confirmDeleteLimitation(item.id)"><i class="fas fa-trash"></i> </button>
      </div>
    </div>
    <div class="item-add">
      <button class="btn btn-add" (click)="addLimitation()"><i class="fas fa-plus"></i> </button>
    </div>
  </div>
  </div>
